body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E5F0FF;
  color: #CCE0FF;
  height: 100vh;
  margin: 0;
}

.nav {
  background-color: #0066FF;
  padding: 10px 30px;
  min-width: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px #66A3FF;
}