body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E5F0FF;
  color: #000E24;
  height: 100vh;
  margin: 0;
}

.nav {
  background-color: #0066FF;
  padding: 10px 30px;
  min-width: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px #66A3FF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  color: #CCE0FF;
}

.header {
  color: #CCE0FF;
}

.logo {
  scale: calc(2.1);
}

.div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #CCE0FF;
  margin: 20px;
  gap: 20px;
  border-radius: 20px;
  width: 500px;
  border: 1px solid #3385FF;
}

img {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid #3385FF;
  box-shadow: 0px 4px 4px #003D99;
}

h1 {
  color: #0052CC;
}
